@charset "UTF-8";
body{
    font-family: 'Raleway', sans-serif;
}
h2{
    font-family: 'Oswald', sans-serif;
    font-size: 3.25em;
    font-weight: bold;
}
.fondo-lila{
    background-color: #591647;
}
.hero{
    background-image: url('../img/hero-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: text-bottom;
    font-family: 'Oswald', sans-serif;
    filter: hue-rotate(160deg);
}
.padding-top{
    padding-top: 100%;
}
.img-exp{
    width:100%;
    max-width: 200px;
    filter: hue-rotate(180deg);
}
.carousel-indicators{
    top: 100%;
}
.carousel-indicators li{
    background-color: rgba(89, 22, 71, 0.5);
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.carousel-indicators li.active{
    background-color: rgba(89, 22, 71, 1);
}
.ultimostrabajos, footer{
    background-color: #591647;
}
.ultimostrabajos h2{
    color: white;
}
footer{
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 2.5em;
    font-weight: bold;
}
.imgrelleno{
    background-image: url('../img/hero.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10rem;
}
.textwall-negro:after {
    content: " ";
    display: block;
    text-align: center;
    height: 2px;
    margin: 3% 45% 0;
    background: #212529;
}
.textwall-blanco:after {
    content: " ";
    display: block;
    text-align: center;
    height: 2px;
    margin: 3% 45% 0;
    background: white;
}
a.card,
a.card:hover {
  color: inherit;
  text-decoration: inherit;
}
iframe {
    width: 100%;
    height: 729px;
}
i, i:hover{
    color: white;
}
@media only screen and (min-width:720px){
    .padding-top{
        padding-top: 50%;
    }
}