@charset "UTF-8";
body{
    font-family: 'Raleway', sans-serif;
}
.fondo-lila{
    background-color: darkmagenta;
}
.hero{
    background-image: url('../img/hero.png');
    padding: 5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}